### VS Code ###
.vscode

### Python ###
*__pycache__
*.pytest_cache
# Empty __init__.py files mark directories as packages to enable module imports to unit tests
__init__.py

### Node.js ###
node_modules
package-lock.json

### Misc. ###
.DS_Store